.delPollCard{
  color: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 80px;
  border: 5px solid white;
}

.delPollCard:hover {
  cursor: pointer;
  color: #0670ad;
  font-weight: bold;
  border: 5px solid #0670ad;
}


.buttonDNG {
    background-color: #cc2614;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.buttonDNG:hover {
    background-color: black;
    color: white;
}